@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container{
    width: 100%;
}

.headercontainer{
    width: 100%;
    background-image: url(images/Rectangle\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100vh; */
}

header{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

ul{
    display: flex;
    gap: 2rem;
}

li{
color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

header button{
    border-radius: 50px;
    background: #1BC768;
    color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: .5rem 2rem;
border: none;
cursor: pointer;
}

.headerlogo img{
    cursor: pointer;
}

.hero{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.heroImage img{
    margin-top: 3rem;
    width: 100%;
}

.heroImage{
    width: 40%;
}

.heroText{
    width: 40%;
}

.heroText h2{
color: #FFF;
font-family: Montserrat;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

.heroText p{
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 2rem 0;
}

.heroBtn button{
    border-radius: 50px;
    border: 1px solid #FFF;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: none;
    padding: .5rem 2rem;
    margin-right: 1rem;
}

.heroBtn button:hover{
cursor: pointer;
background: white;
color: #043CAA;;
}

::placeholder{
    color: #7A7A7A;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.heroInput{
    margin-top: 2rem;
}

.heroInput input{
    border-radius: 50px 0 0 50px;
    background: #DEE9FF;
    padding: .8rem 3rem;
    width: 375px;
    border: none;
    background-image: url(images/mdi_search.png);
    background-position:5%;
    background-repeat:no-repeat;
    
}   


.heroInput button{
    background: #1BC768;
    border-radius: 0 50px 50px 0;
    padding: .4rem;
    border: none;
    color: #FFF;
    font-family: Monteserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100px;
    margin-left: -4px;
    height: 43px;

}

.innerContainer{
    width: 90%;
    margin: auto;
}

.affiliations{
    text-align: center;
    margin: 4rem 0;
}

.affiliations h2{
color: #043CAA;
font-family: Avenir;
font-size: 36px;
font-style: normal;
font-weight: 900;
line-height: normal;
}


.lines{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.line1 hr{
width: 45px;
height: 5px;
flex-shrink: 0;
background: #043CAA;
}

.line2 hr{
    width: 45px;
height: 5px;
flex-shrink: 0;
background: #1BC768
}

.sponsors{
    /* margin-right: 7rem; */
    display: flex;
    gap: 9rem;
    width: 50%;
    margin: auto;

}

.benefits{
    text-align: center;
}

.benefits h2{
color: #043CAA;
text-align: center;
font-family: Avenir;
font-size: 36px;
font-style: normal;
font-weight: 900;
line-height: normal;
}


.benefitText h5{
    color: #043CAA;
    font-family: Monteserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 2rem;
}

.listFlex{
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    align-items: center;
}

.listFlex p{
color: #333;
font-family: Monteserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.benefitFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefitFlex2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefitBtn{
    margin-top: 1rem;
}

.benefitBtn button{
border-radius: 50px;
border: 1px solid #1BC768;
display: inline-flex;
padding: 11px 35px;
align-items: center;
gap: 10px;
color: #1BC768;
font-family: Monteserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
background: none;
cursor: pointer;
}

.client{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    align-items: center;
}

.clientImage{
    width: 50%;
}

.clientImage img{
    width: 100%;
}


.clientText{
    width: 40%;
}

.clientText h2{
    color: #000;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.clientText p{
    color: #7A7A7A;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    width: 75%;
}

.clientText h6{
    color: #043CAA;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    padding: 1.5rem 0;
}


.liness{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-left: -9rem;
}

footer{
    width: 100%;
    background:#043CAA;
    }
    
    .innerfooter{
    width: 80%;
    margin: auto;
    padding-top: 4rem;
    
    }
    
    .textinput{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .textside{
      width: 50%;
    
    }
    
    .inputside{
      width: 45%;
    }
    
    
    .textside h3{
      color: #FFF;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      }
      
      .textside p{
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 80%;
        margin-top: 1.5rem;
      
      
      }
      
    
    .inputside input {
      border-radius: 50px 0 0 50px;
      background: #dee9ff;
      padding-left: 2rem;
      width: 350px;
      height: 38px;
      border: none;
      font-size: 18px;
      font-family: montserrat;
      margin-top: 1rem;
    }
    
    .inputside label{
      color: #FFF;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      }
      
      
    
    .inputside button {
      background: #1bc768;
      border-radius: 0 50px 50px 0;
      color: #fff;
      border: none;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      cursor: pointer;
      width: 120px;
      height: 39px;
      margin-left: -4px;
      /* margin-top: 3rem; */
      background-image: url(./images/search.png);
    }
    
    .footercontent{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 6rem;
    align-items: center;
    }
    
    .logoside{
    width: 30%;
      
    }
    
    
    .footerside{
      display: flex;
      gap: 6rem;
      width: 55%;
    }
    
    
    .logoside p{
      color: #FFF;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 1rem; 
      width: 60%;
      
    }
    
    .foot h5{
      color: #FFF;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 800;
      line-height: 40px;  
    }
    
    .foot p{
      color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    
    }
    
    
    .copyright{
      color: #FFF;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
     text-align: center; 
     margin-top: 2rem;
     margin-bottom: 1rem;
    
    }


@media screen and (max-width: 1024px){

    .heroText{
        width: 55%;
    }

    .heroText h2{
        font-size: 40px;
        }
        
        .heroText p{
            font-size: 18px;
        }
        
        .sponsors{
            display: flex;
            gap: 7rem;
            width: 65%;
            margin: auto;
        
        }

        .inputside input{
            width: 250px;
        }

        .inputside button{
            width: 100px;
        }

        .footerside{
            display: flex;
            gap: 6rem;
            width: 60%;
          }          
}

@media screen and (max-width: 768px){
    header button,ul{
        display: none;
    }

    .heroText h2{
        font-size: 30px;
    }

    .heroText p{
        font-size: 14px;
    }

    .heroBtn button{
        font-size: 14px;
        padding: .5rem 1.5rem;
        margin-right: .7rem;
    }

    .heroInput input{
       width: 270px;
       padding: .8rem 2rem;
    }

    .heroInput button{
       font-size: 14px;
       width: 100px;
    }

    ::placeholder{
    font-size: 14px;  
    }

    .affiliations h2{
        font-size: 30px;
    }

    .sponsors{
        width: 80%;
        gap: 4rem;
    }

    .benefits h2{
        font-size: 30px;
    }

    .benefitText h5{
        font-size: 20px;
    }

    .listFlex p{
        font-size: 13px;
    }

    .benefitBtn button{
        font-size: 14px;
    }

    .benefitImage img{
        width: 100%;
    }

    .benefitImage2 img{
        width: 80%;
    }

    .clientText h2{
        font-size: 23px;
    }
    
    .clientText p{  
        font-size: 18px;
        width: 75%;
    
    
    }

    .clientText h6{
        font-size: 14px;
    }

    .liness{
        margin-left: -4rem;
    }

    .textside h3{
        font-size: 20px;
        margin-bottom: 1.5rem;
    }

    .textside p{
        font-size: 14px;
        width: 85%;
    }

.inputside input{
    width: 180px;
    font-size: 14px ;
    padding-left: 1rem;

}

.inputside button{
    font-size: 14px;
    width: 90px;
}

.inputside label{
    font-size: 14px;
}

.footerside{
    width: 65%;
    gap: 3rem;
}

.logoside p{
    width:100% ;
}    
}

@media screen and (max-width:426px) {
    .hero{
        width: 90%;
        display: block;
        margin-top: 3rem;
    }

    .heroText{
        width: 90%;
        margin-top: 2rem;
    }

    .heroText h2{
        font-size: 35px;
    }

    .heroText p{
        font-size: 14px;
        padding: 2rem 0;
    }

    .heroBtn button{
        font-size: 14px;
        padding: .5rem 1.3rem;
        margin-right: .5rem;
    }

    .heroInput input{
        width: 240px;
    }

    .heroImage{
        width: 100%;
    }

    .sponsors{
        width: 100%;
        gap: .5rem;
    }

    .sponsors img{
        width: 90%;
    }

    .benefitFlex{
        display: block;
    }

    .benefitFlex2{
        flex-direction: column-reverse;
        margin-left: -6rem;
        margin-bottom: 2rem;
    }

    .benefitImage2{
        margin-top: 2rem;
        width: 60%;
        margin-left: 6rem;
    }

    .listFlex{
        width: 100%;
    } 

    .benefitImage2 img{
        width: 100%;
    }

    .client{
        flex-direction: column-reverse;
    }

    .clientText{
        font-size: 28px;
        width: 300px;
    }

    .clientText p{
        width: 100%;
    }

    .clientImage{
        margin-top: 1rem;
        width: 90%;
    }

    .textinput{
        display: block;
    }

    .textside{
        width: 100%;
    }

    .inputside{
        width: 100%;
    }

    .footercontent{
        display: block;
    }

    .logoside{
        width: 100%;
    }

    .footerside{
        display: block;
        margin: 2rem;
        margin-left: .5rem;
    }

    .foot{
        margin-bottom: 2rem;
    }


} 

@media screen and (max-width: 376px) {
    .heroText h2{
        font-size: 30px;
    }

    .heroBtn button{
        font-size: 12px;
        margin-right: .3rem;

    }

    .heroInput input{
        width: 203px;
    }

    ::placeholder{
        font-size: 11px;
    }

}










